<mat-card>
    <mat-card-content>
        <h1>Enterprises</h1>
        <mat-divider></mat-divider>
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" [(selectedIndex)]="tabIndex">>
            <mat-tab label="List"><app-enterprise-list (focusTabEvent)="focusTab($event)"></app-enterprise-list></mat-tab>
            <mat-tab label="Form"><app-enterprise-form (focusTabEvent)="focusTab($event)"></app-enterprise-form></mat-tab>
        </mat-tab-group>
    </mat-card-content>
    <mat-card-actions align="end" *ngIf="tabIndex == 0">
        <button mat-raised-button color="primary" type="button" (click)="loadCreateForm()">Create</button>
    </mat-card-actions>
</mat-card>