<p>Authenticated users front page</p>
<mat-drawer-container fullscreen>
    <mat-drawer-content>
        <mat-toolbar>
            <button (click)="drawer.toggle()" mat-icon-button class="example-icon"
                aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Store Administration Web</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>share</mat-icon>
            </button>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-drawer-content>

    <mat-drawer #drawer class="example-sidenav" mode="side">
        <h2>Menu</h2>
        <mat-nav-list>
            <h4>Mantainers</h4>
            <a mat-list-item routerLink="/mantainers/catalog/dashboard" routerLinkActive="active">Catalogs</a>
            <a mat-list-item routerLink="/mantainers/enterprise/dashboard" routerLinkActive="active">Enterprises</a>
            <a mat-list-item routerLink="/mantainers/product/dashboard" routerLinkActive="active">Products</a>
            <a mat-list-item routerLink="/mantainers/product-on-sale/dashboard" routerLinkActive="active">Products on sale</a>

            <h4>More routerLinks</h4>
            <a mat-list-item routerLink="/auth/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a>
            <a mat-list-item routerLink="/auth/registration-form" routerLinkActive="active" ariaCurrentWhenActive="page">Register</a>
            <a mat-list-item routerLink="/auth/logout" routerLinkActive="active" ariaCurrentWhenActive="page">Logout</a>
        </mat-nav-list>
        <!-- Example for buttton => filler -->
        <!-- <p>Auto-resizing sidenav</p>
        <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
        <button (click)="showFiller = !showFiller" mat-raised-button>
            Toggle extra text
        </button> -->
    </mat-drawer>
</mat-drawer-container>
